{{#unless session.username}}
<b style="color:red">Za ogled vaših slike/registrirani</b>
{{else}} {{#if err}}
<b style="color:red">{{err}}</b>
{{else}}
<h1>Slika</h1><br>
<img src="/{{image.path}}" style="width:80%; height:auto"/><br><br>
<h6>Podrobnosti:</h6>
<b>Rastlina: </b>{{plant.name}}<br>
<b>Opis rastline: </b>{{plant.description}}<br>
<b>Opis: </b>{{image.description}}<br>
<b>Datum objave: </b>{{image.datetime}}<br><br>
Lon: <text id="Lon">{{image.lon}}</text> Lat: <text id="Lat">{{image.lat}}</text><br>
<div id="map" class="map"></div>
<script type="text/javascript">
		  
	  var lat = document.getElementById("Lat").innerHTML;
	  var lon = document.getElementById("Lon").innerHTML;
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([lat, lon]),
          zoom: 12
        })
      });
	 
	  var layer = new ol.layer.Vector({
		 name : 'Marker',
		 source: new ol.source.Vector({
			features: [
				new ol.Feature({
					geometry: new ol.geom.Point(ol.proj.fromLonLat([lat, lon]))
					})
				]
			})
		});
		map.addLayer(layer);	
	
</script>
{{/if}}{{/unless}}
